{{ define "main" }}
<div class="container">
<!--    <hr class="separator">
    <div class="row">
        <div class="col">
            {{ partial "news" . }}
        </div>
    </div>
    -->
<!--     <hr class="separator">-->
    <div class="row">
        <div class="col">
            <h3>Mission</h3>
Over the past three decades, HEP has successfully leveraged AI across numerous aspects, including data analysis,
theory calculations, detector calibration/monitoring, and real-time data selection.
It is essential to the future of the field that it fully exploits its potential.
Establishing a UK AI HEP framework allows to overcome common barriers and challenges while harnessing opportunities
in areas such as hardware, software, AI-ops, skills/training, knowledge exchange, capacity building, industry engagement, and fast-AI.
Our goal is to bring together researchers across experiment, theory/phenomelology,
but also computing and software experts, to review progress, identify barriers and opportunities for enabling AI in HEP,
sharing tools, promoting successful use-cases, and improving skills/training and knowledge transfer.
        </div>
        <div class="col">
            <h3>Involved Institutes</h3>

        </div>
    </div>
</div>
<br>
{{ end }}
