{{ define "main" }}
<div class="container">
<!--    <hr class="separator">
    <div class="row">
        <div class="col">
            {{ partial "news" . }}
        </div>
    </div>
    -->
<!--     <hr class="separator">-->
    <div class="row">
        <div class="col">
            <h3>Mission</h3>
Over the past three decades, HEP has successfully leveraged AI across numerous aspects,
including data analysis, real-time data selection, detector calibration/monitoring, and theory calculations.
It is essential to the future of the field that it fully exploits its potential.
Establishing a UK AI HEP framework allows to overcome common barriers and challenges
while harnessing opportunities in areas such as hardware, software, AI-ops, skills/training,
knowledge exchange, capacity building, industry engagement, and fast-AI.
<br><br>
Our goal is to bring together researchers across experiment, theory/phenomenology,
but also computing and software experts, to review progress,
identify barriers and opportunities for enabling AI in HEP, sharing tools,
promoting successful use-cases, and improving skills/training and knowledge transfer.
<br><br>
            <h3>Collaborations and synergies</h3>
            <div class="container">
            <li>CCP-TEPP - Collaborative Computational Project on Theoretical and Experimental Particle Physics</li>
            <li>EuCAIF – European Coalition for AI in Fundamental Physics</li>
            <li>HSF - HEP Software Foundation</li>
            </div>
        </div>
        <div class="col">
            {{ partial "news" . }}
            <br><br><br>
            <h3>Contacts and communication lists</h3>
            <div class="container">
            <li>Contacts AI4HEP: Alex Tapper, Davide Costanzo, Monica d’Onofrio, Tim Scanlon
            </li>
                <li>Mailing list <a href="mailto:AI4HEP-UK@jiscmail.ac.uk">AI4HEP-UK@jiscmail.ac.uk</a>
                    (subscribe <a href="https://www.jiscmail.ac.uk/cgi-bin/wa-jisc.exe?A0=AI4HEP-UK">here</a>)
                </li>
                <li class="list"><a href="https://mattermost.web.cern.ch/uk-hep/channels/ai4hep">CERN Mattermost channel</a>
                </li>
                <li><a href="https://github.com/AI4HEP-UK">Project GitHub repository</a> (contact: Eduardo Rodrigues)</li>
            </div>
            <br><br><br>
            <h3>Sharing/contributing software</h3>
            We welcome software libraries and tools in our GitHub organisation <a href="https://github.com/AI4HEP-UK">AI4HEP-UK</a>.<br>
            Feel encouraged to get in touch with the team.
        </div>
    </div>
</div>
<br>
{{ end }}
